body {
    
    font-family: sans-serif;
    font-size: 90%;
    1600px;
    height: auto;
  padding-bottom: 20px;
    
}
  
img{
    max-width: 100%;
  }  


main{
  display: flex;
  flex-wrap: wrap;
}


p{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color:black;
  font-weight: 300;
}

p.price{
  font-weight:600;
}

nav{
  padding: 1rem;
  background-color: darkgray;
  font-size: 1rem;
  color:white;
  
  /*Large window*/
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px){
  
  nav{
/*When on medium sized screens, center contents by evenly distributing empty space around items*/
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px){
  
  /*On small screens, remove row direction, but use column*/
  flex-direction: column;
}
nav a {
   padding: 1rem;
   color: white;
   text-decoration: none;
}

nav ul{
  display:flex;
  flex-wrap:nowrap;
  justify-content: space-around;
}

nav ul > li{
  text-align: center;
}

aside{
  order: 1;
  width: 15%;
  margin-top: 2rem;
}


header img {
  max-width: 5%;
  padding: 1rem; .5rem 0 1rem;
}

h1
{
  display: inline-block;
  max-width: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color:darkblue;
  
}
h1 .logo{
  font-size: 3rem;
    

}
  
.filter-form{
  padding: 5rem 0 0 1rem;
} 

label{
  font-size: 1rem;
  color:black;
  margin-left: 1rem;
}

select{
  display: block;
  width: 100%;
  margin: .5rem auto .3rem;
  padding: 10px;
  border: 1px solid black;
  font-size: .75rem;
  color:black;
  margin-left: 1rem;
}

input[type="submit"]{
  width:100%;
  padding: .25rem;
  background-color: white;
  border: 1px solid: black;
  border-radius: 3px;
  font-size: .75rem;
  color:white;
  margin-left: 1rem;
}

section{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  height: 800px;
  margin:auto;
}

h2{
  padding-top: 2rem;
  font-size: 1.5rem;
  text-align: left;
  color: black;
}

.item-container{
 width:20%;
 float:left;
 padding: 10px 15px;
  
/* Medium screens */  
  @media all and (max-width: 800px){
  
  nav{
/*When on medium sized screens, center contents by evenly distributing empty space around items*/
    justify-content: space-around;
  }
    
@media all and (max-width: 500px){
  
  /*On small screens, remove row direction, but use column*/
  flex-direction: column; 
  
}

h3{
  font-size: 1rem;
  text-align: left;
  color:mediumblue;
}



